[2016-04-29 13:27] willwull opened #1 "Game MVP Discussion!"
Let's discuss what our MVP should be.
Upload pictures, come up with new ideas and stuff, but let's not get carried away - at each step, we should consider if we can still pass without that feature. If the answer is yes, that should be a low priority task.
At the end of this discussion, we should have a concrete idea of what to do.

Current concept:
Isometric adventure game and a promotional websit

[2016-04-29 13:28] willwull commented on #1
@xobust @iRobsc Let's go! 😄

[2016-04-29 13:34] iRobsc commented on #1
- Room system (so each room is connected)
- Random generated rooms
- Monsters
- The player
- Be able to attack monsters
- A boss to end the game

[2016-04-29 13:38] willwull commented on #1
We should implement some sort of score system as well in our MVP, for the scoreboard on our website.

[2016-04-29 13:41] iRobsc opened #2 "Website MVP discussion"
Discuss the website MVP.
Upload pictures, concepts and idéas for the website.

--------------------------------------------------------- As of 2016-04-29
- Two pages: Home (with game description, screenshots and download link) and Scoreboard
- Scoreboard should be a list of player names and their score. The data for the scoreboard should be hosted on Alex' server and uses MySQL and PHP.

[2016-04-29 13:42] iRobsc commented on #2
- Scoreboard
- Download game

[2016-04-29 13:44] willwull commented on #2
Should we have accounts for each player as well?

[2016-04-29 13:47] iRobsc commented on #2
Accounts for each player is nice but unnecessary for a MVP. They could just write in their name in their scoreboard instead of creating an account for it.

[2016-04-29 13:47] xobust commented on #1
I think this is enough for the game MVP. Adding more things would just increase the complexity. I think that having a boss is not strictly necessary in the MVP

[2016-04-29 13:54] willwull commented on #2
We should have some sort of description for the game as well, but that's pretty easy to do.

[2016-04-29 13:54] willwull commented on #1
What are our thoughts on graphics and sound?

[2016-04-29 13:56] iRobsc commented on #1
No sound is needed for the MVP and graphics can be very basic as long as they follow our game in isometric POV.

[2016-04-29 14:22] xobust opened #3 "Workflow"
Lets discuss our workflow on this project

[2016-04-29 14:23] willwull commented on #2
Made a quick mockup of the website.
![websitehomemockup](https://cloud.githubusercontent.com/assets/16100194/14927004/9ff016aa-0e4f-11e6-8637-da67adff9681.jpg)

I'm thinking we should have a short description on the home page along with some screenshots.

[2016-04-29 14:23] xobust opened #4 "Architecture and code design"
Lets discuss our design approach regarding the architecture of the project

[2016-04-29 14:34] willwull commented on #3
We should work on separate branches right? What kind of branches should we have?

We should also review each others' code before merging with master.

[2016-04-29 14:41] xobust commented on #3
The master branch should only be used for stable code, and there should be some kind of checks before we can merge into the master branch.

[2016-04-29 14:42] xobust commented on #3
All work should be done in a work branch or separate feature branches

[2016-04-29 14:45] iRobsc commented on #4
http://cowboyprogramming.com/2007/01/05/evolve-your-heirachy/ How we could use composition

[2016-04-29 14:46] iRobsc commented on #4
Understanding it https://social.msdn.microsoft.com/Forums/en-US/0b6677dc-3eb6-4eae-9c8f-c042ccbfefb3/what-is-composition-in-c-?forum=csharplanguage

[2016-04-29 14:52] xobust commented on #4
Well this is what I think about when you say that we use composition. ~~dead link removed~~

[2016-04-29 16:27] willwull commented on #3
What name conventions should we use? @xobust @iRobsc
I'm thinking maybe something like:
- `feature/{name}` for new features
- `fix/{name}` for fixing bugfixes
- `update/{name}` when updating or refactoring a piece of code

In the above, `{name}` should be 2 or 3 words that describes the work.

[2016-04-29 16:31] willwull commented on #3
Should we indicate whether the branch relates to the website or the game in someway? Like
- `web/feature/{name}`
- `game/feature/{name}`

[2016-04-29 16:32] xobust commented on #3
I'm not sure if we should separate the web part and the game part

[2016-04-29 16:34] iRobsc commented on #3
The commits should always follow this style: http://chris.beams.io/posts/git-commit/

[2016-04-29 16:35] willwull commented on #3
@macaullyjames I'm totally confused about branches, do you have any suggestions for naming them?

[2016-04-29 16:39] iRobsc commented on #4
@macaullyjames

[2016-04-29 16:45] macaullyjames commented on #4
The image link is dead :( If you just drag images into the comment box GH will upload them for you automagically 👍

[2016-04-29 16:46] macaullyjames commented on #4
Ah, found it:
![composition](https://cloud.githubusercontent.com/assets/3997058/14922945/abf9a840-0e3a-11e6-8ded-20ec09efc84b.png)

[2016-04-29 16:52] iRobsc commented on #4
What do you think?

[2016-04-29 16:58] macaullyjames commented on #3
Please, I have an opinion for everything. There's a "standard" branching model called "git flow" that you can read about [here](http://nvie.com/posts/a-successful-git-branching-model/). I would use a stripped down version of that:
- Only one long running branch, `master`
- Whenever you start a chunk of work, create a new branch and commit to that branch
- When you're done, send a PR from that bran

[2016-04-29 17:03] macaullyjames commented on #4
My advice would be to have a clearer picture of your MVP before thinking about how you're going to implement it, otherwise you're going to do a lot of unnecessary work :) It's hard to tell whether or not it's good design when I don't know what you're designing ^^

[2016-04-29 17:06] macaullyjames commented on #4
Also, make sure your design is firmly rooted in the framework (MonoGame, right?). You can't design the game without taking that into account :)

[2016-04-29 17:16] macaullyjames commented on #3
I'd recommend you formalise whatever you decide here in a `CONTRIBUTING.md` file in the root of the repo 👌

[2016-04-29 18:01] willwull commented on #3
Working on that right now!

[2016-04-29 18:23] xobust commented on #2
We can use my webhost to host the website.
Using mysql ans some backend programming language would be best I think.

[2016-04-29 18:58] iRobsc commented on #4
![game-mvp-broban](https://cloud.githubusercontent.com/assets/5315633/14926575/21d1e82c-0e4d-11e6-8878-00fffa225a2d.png)

[2016-04-29 19:00] iRobsc commented on #1
@macaullyjames What do you think of our updated Game MVP?

[2016-04-30 07:40] macaullyjames commented on #1
Some thoughts:
- What's the point of the game? How do you collect points?
- The monsters will need some kind of AI, is there a library you can use for that? If not I'd try to figure out a way to drop them from the MVP (without the game sucking).
- How will the combat system work?

Apart from that, I'd draw a few wireframes depicting what gameplay will look like :)

[2016-05-01 07:50] xobust commented on #1
Well the Ai does not have to be top notch. We thought about implementing a simple seek pattern to begin with.

[2016-05-01 08:08] xobust commented on #4
Well the design problem that I have the hardest time figuring out is how to have the different entities interact in a good way.

Since it is a game you want the player to be able to interact with the state of the world i.e hit a enemy or leave a room. However you don't want to expose the state of the world to the games entities.
I have thought about two ways to solve to solve this problem:
- Messa

[2016-05-01 11:54] willwull commented on #2
@iRobsc @xobust @macaullyjames Is there anything else we need for our website MVP? As I mentioned before, the concept of an MVP seems really vague to me, so I'm not very confident in this department.

[2016-05-01 17:27] willwull commented on #1
Should we have completion time instead of points maybe?

[2016-05-01 17:54] iRobsc commented on #1
Combat system will be an attack with a sword. The collision ahead is calculated by a collision box and the monsters will hurt you if they get too close.

[2016-05-02 10:29] macaullyjames commented on #2
Off the top of my head:
- What backend language will you use?
- What frontend framework will you use?

**Backend language**
There's not going to be a lot going on here so pick something you're comfortable with. If you want super-easy interaction between the frontend and database I'd use something like PHP, Rails, or Django.

**Frontend framework**
Responsive design is a bit of a pain to do with ra

[2016-05-02 10:32] macaullyjames commented on #4
It feels like there should be a "standard" way of doing this in MonoGame, what have other people done? :)

[2016-05-02 10:58] xobust commented on #4
This was the only example project I found
http://gamedevelopment.tutsplus.com/tutorials/make-a-neon-vector-shooter-in-xna-basic-gameplay--gamedev-9859

[2016-05-02 12:17] willwull commented on #2
@macaullyjames We already decided on PHP for the backend language. As for responsive design, I've only ever done it with raw CSS, so I'm fine with that lol.

What do you guys think? @iRobsc @xobust

[2016-05-02 13:29] macaullyjames commented on #2
I've got nothing more to say, this looks doable :) 👍

[2016-05-02 16:35] xobust opened #5 "Create game entity interface"
The game entity interface should contain the following functionality:
- Update();
  Updates positions of entity's and handles input
- Render(SpriteBatch sb);
  Renders the entity on screen

[2016-05-02 16:37] xobust opened #6 "Implement input handling"
It would be nice if we could use both keyboard and a xbox controller for input
but that is optional.

We might have to discuss the design of this class more.
But the core feature is to be abel to check for input trough this class.

[2016-05-02 16:37] xobust opened #7 "Implement player class"
Implement a simple player that can move.
This class should implement the game entity interface

[2016-05-02 19:49] willwull opened #8 "Implement the Home page"
Implement a basic version of the page `Home`.

[2016-05-02 19:57] willwull opened #9 "Implement front end of the scoreboard"
The scoreboard page should be a list/table of scores.

~~Possible ideas:~~
~~\- The user can choose to sort by rank or alphabetical~~
~~\- The user can search for themselves and see their rank and score.~~

EDIT: Moved to #10

[2016-05-02 20:00] willwull opened #10 "Implement back end of the scoreboard"
The scoreboard page should fetch the results from @xobust's server using PHP and MySQL and display them in the table (see #9).

Possible ideas:
- The user can choose to sort by rank or alphabetical
- The user can search for themselves and see their rank and score.

[2016-05-02 20:40] iRobsc commented on #9
Why sort by alphabetical order? I haven't seen that on a scoreboard

[2016-05-02 20:44] willwull commented on #9
I was thinking that we could implement it as a way to let players find themselves in the list, because sorting is much easier to implement than search (although search isn't super hard either).

[2016-05-03 08:28] xobust opened #12 "Project not building and running properly on some windows machines"
Project builds but nothing happens when running

[2016-05-03 08:39] #12 closed, assigned to nobody

[2016-05-03 08:54] macaullyjames commented on #1
So where do we stand on the monsters? :)

[2016-05-03 08:58] #5 closed, assigned to xobust

[2016-05-03 09:00] xobust commented on #1
They are scary  :ghost: :japanese_ogre: :space_invader:

[2016-05-03 09:22] xobust commented on #6
Can you fix this @iRobsc ?

[2016-05-03 10:00] iRobsc commented on #1
They are spawned in random locations on the map. When the player gets too close the enemy starts moving to the player until the range is too far.

[2016-05-03 10:12] iRobsc commented on #6
Why a xbox controller? Would that really benefit us in the MVP?

[2016-05-03 10:20] xobust commented on #6
Not in the MVP but design the input class so that it can do the same action from two or more inputs

[2016-05-03 10:27] iRobsc commented on #6
Ok sounds good

[2016-05-03 10:30] iRobsc commented on #7
Just try to connect this to the input class in a good way. Maybe we should make the input class before?

[2016-05-03 14:16] xobust commented on #6
Scraping this

[2016-05-03 14:16] #6 closed, assigned to iRobsc

[2016-05-03 14:16] iRobsc commented on #6
You should explain why before you close an issue.

[2016-05-03 14:17] xobust opened #17 "Make player movable"
:runner: :athletic_shoe:

[2016-05-03 14:18] iRobsc commented on #17
:hankey:

[2016-05-03 14:19] iRobsc commented on #17
I'll do it @irobsc @xobust @willwull

[2016-05-03 14:27] xobust commented on #6
Because we made other design choices see issue #17

[2016-05-03 14:31] xobust commented on #7
Yes, check issue #17

[2016-05-03 14:34] xobust opened #19 "GraphicsDeviceManager not available in LoadContent"
GraphicsDeviceManager is needed to create textures. That is why it needs to be passed to all LoadContent methods

[2016-05-03 14:35] willwull commented on #8
Completed as of 89f9cb6320b20e6d3cd79bc7f9d3275b5b0d62c5

[2016-05-03 14:35] #8 closed, assigned to nobody

[2016-05-03 14:38] willwull commented on #9
Completed as of 89f9cb6320b20e6d3cd79bc7f9d3275b5b0d62c5

[2016-05-03 14:38] #9 closed, assigned to nobody

[2016-05-03 14:40] willwull opened #20 "Update website with proper content"
Right now as of 89f9cb6320b20e6d3cd79bc7f9d3275b5b0d62c5, the website contains placeholder text. This needs to be updated with a proper description and screenshots of the game.

[2016-05-03 14:42] xobust commented on #19
GraphicsDevice was needed not a GraphicsDeviceManager. GraphicsDevice is already avalibel as a singleton

[2016-05-03 14:52] xobust commented on #19
Seems I was right from the start Device manager is avalible in the game baseclass

[2016-05-03 14:56] willwull opened #21 "Add WorldHandler class"
The class `WorldHandler` (feel free to come up with another name) should use some appropriate data structure to store all the `Room`s, and handle the creation of new `Room`s (which in turn generate the contents of the room when they're created).

[2016-05-03 14:58] iRobsc commented on #17
Fixed (Should've mentioned this in the commit)

[2016-05-03 14:58] #17 closed, assigned to iRobsc

[2016-05-03 15:00] willwull opened #22 "Add Room class"
The `Room` class should contain a clever method of randomizing its contents (tiles, objects, exits, monsters etc).

[2016-05-03 15:06] willwull commented on #19
Wait, what's going on? I don't understand what this issue is trying to say.

[2016-05-03 15:07] iRobsc opened #23 "Add a player sprite that moves with the position vector"
Basically a player. :ok_hand:

[2016-05-03 15:10] #19 closed, assigned to nobody

[2016-05-03 15:59] #7 closed, assigned to xobust

[2016-05-03 18:15] macaullyjames commented on #19
@xobust you're breaking your own CONTRIBUTING.md here 🚓 👮

[2016-05-03 18:18] xobust commented on #19
RIP MAC FOUND ME.

[2016-05-03 18:20] macaullyjames commented on #19
I'll always find you, no matter which issue tracker you're in 😉

[2016-05-03 18:21] xobust commented on #19
:cry:
Well I was tilt at the moment because nothing was working.
Well the problem was the same as the one we had where we could not use content in out implementations of game interface. I had to use a object that was only avalibel in the game object so I changed the interface definition in a separate branch coresponding to this issue. After that I could work on the implementation of the player fea

[2016-05-03 18:31] macaullyjames commented on #19
I just felt sorry for @willwull... "Wait, what's going on?" - _merges code_

[2016-05-04 09:09] xobust commented on #22
We should generate the room and store the tile IDs(?) in a matrix.
Then we could have a separate single instance object that store all tiles textures and renders this matrix.

[2016-05-04 09:15] xobust commented on #22
Here a good tutorial on tile rendering
http://www.xnaresources.com/default.asp?page=Tutorial:TileEngineSeries:4

[2016-05-04 09:30] willwull commented on #22
So the tile managing should be in a separate class from the `Room` class?

[2016-05-04 09:42] iRobsc commented on #10
The servers should take a name from the game and apply it to a score from the game in to the scoreboard.

[2016-05-04 09:49] iRobsc commented on #22
The tile renderer should be a different class while the room generates the rooms values in a matrix. The matrix is then sent to the tile renderer to render the map.

[2016-05-04 09:49] willwull commented on #22
Okay cool, could you open a new issue for that feature?

[2016-05-04 09:50] iRobsc opened #26 "Add tile renderer class"
Add a tile renderer that takes a matrix from the room and renders that matrix into a map full of visible tiles.

[2016-05-04 09:51] iRobsc commented on #22
Created on #26

[2016-05-04 10:51] iRobsc commented on #22
Generate tile matrix pseudocode http://pastebin.com/4HcSjjRr

[2016-05-04 11:01] #23 closed, assigned to nobody

[2016-05-04 11:30] iRobsc opened #27 "Add monster class"
Add a monster class that includes:
- Size
- Sprite
- Health
- Movement speed
- Damage
- Position

[2016-05-04 11:40] iRobsc opened #28 "Add player attack"
Add an attack that damages monsters
- Add a collision box in the angle the player is looking
- The collision box is inside the game as long as the attack is lasting (approx 0.5 sec)
- The collision box collides with the monster and the monster takes damage

[2016-05-04 11:47] iRobsc opened #29 "Add player collision"
Being able to collide with entitys. Not monsters since it is not in our MVP.

[2016-05-04 11:47] iRobsc commented on #29
Also collision with room exits so the player can enter new rooms.

[2016-05-04 12:00] iRobsc commented on #22
Explanation of the matrix http://pastebin.com/j2YW6ghy

[2016-05-04 14:11] iRobsc opened #31 "Add monster collision"
Add the monster collision

[2016-05-04 14:11] iRobsc commented on #27
Split collider into #31

[2016-05-04 14:14] iRobsc opened #32 "Add monster movement"
Basic AI, just moves towards the player and stops when it gets close. The distance between the player and monster can be calculated with pythagoras theorem.

[2016-05-04 14:17] iRobsc opened #33 "Add monster attack"
The monster attacks when it gets close enough. The close enough calculation is made in: #47 . The attack could be a method that just damages the player instantly when it gets too close. Then adds a cooldown before the attack method can be called again. What do you think @xobust @willwull ?

[2016-05-04 14:31] iRobsc commented on #31
This is an issue outside of the MVP

[2016-05-04 17:46] macaullyjames commented on #1
Heyo, this should be updated with what we talked about today (player movement, monsters, random rooms); there's a bunch of issues about implementing stuff that isn't specced here. Also, where are my wireframes??? :)

[2016-05-04 22:35] xobust opened #34 "All subdirectories of this project should start with a lower case letter"
There are some mixed usage of lower case and upper case folder names in the project directory. This is causing problems when building on platforms with case sensitive directories.

We need to unify the directory naming across the project and its configuration.

[2016-05-05 09:26] xobust commented on #28
I think it would be a good idea if the collision box moves with the player if the player moves while it is attacking. Or maybe the player could be stationary while attacking like in darksouls.

[2016-05-08 12:39] xobust commented on #21
I will work on this and create a base plate for the Room class at the same time.

[2016-05-09 10:40] iRobsc commented on #34
Sounds fine, change it in the CONTRIBUTION.md

[2016-05-09 10:47] iRobsc commented on #28
If we would implement the stationary attacking, then it would punish the player pretty much for attacking. Not sure if it's a good or a bad thing

[2016-05-09 10:49] willwull commented on #28
What? The majority of top down games have stationary attacks, play any 2D Zelda game to see.

[2016-05-09 11:00] iRobsc commented on #28
Yes they do, as I stated before. Not sure if it's a good or a bad thing.

[2016-05-09 11:41] willwull commented on #28
I think our game will be way too easy if the player is able to move while attacking :confounded:

[2016-05-09 11:57] #10 closed, assigned to nobody

[2016-05-09 19:50] iRobsc commented on #28
Yeah that's a good point

[2016-05-11 14:17] iRobsc commented on #26
This one is completed by @willwull

[2016-05-11 14:17] #26 closed, assigned to nobody

[2016-05-11 14:18] iRobsc commented on #22
The creation of the matrix is now done.

[2016-05-11 14:28] iRobsc commented on #27
I'm starting this now.

[2016-05-11 16:33] iRobsc commented on #21
Is this completed? @xobust

[2016-05-11 16:34] iRobsc commented on #22
The basic structure of the room should be completed by now. What do you guys think? @xobust @willwull

[2016-05-11 19:09] xobust commented on #21
I would say so

[2016-05-11 19:09] #21 closed, assigned to xobust

[2016-05-11 23:14] macaullyjames opened #42 "I want to play this game!"
I know the game's in development, but still. How would I go about playing the latest alpha? :)

[2016-05-12 11:28] willwull commented on #42
Hmm, how do you play this on a Mac? @xobust @iRobsc

[2016-05-12 16:28] iRobsc commented on #42
You'd have to make a build on a mac computer.

[2016-05-12 16:34] iRobsc commented on #32
I'm starting this now. @xobust @willwull

[2016-05-12 17:16] xobust commented on #42
Try using monodevelop and install the monogame for mac.
Monodevelop should be able to open/import our project.
http://www.monogame.net/2016/03/17/monogame-3-5/

[2016-05-12 23:35] xobust commented on #4
Robert and i discussed how we should implement movement of enemies. My idea is that we solve this by using a controller, similar to how we are going to use a controller to detect collisions.

Here is a short explanation about how the controller will work.
- The controller will be a member of the game manager
- It will have a update function that runs each uppdate
- It will carry a reference to the

[2016-05-14 16:12] xobust opened #46 "Move monster to room"
We will have to find a way to dynamically load monsters and place them in a room.
Maybe we should implement another singelton for texture resources since you only want to load them once but be able to access them anytime on runtime when creating new monsters.

[2016-05-14 16:13] xobust commented on #27
Seems done now

[2016-05-14 16:13] #27 closed, assigned to nobody

[2016-05-14 16:27] iRobsc commented on #32
Completed!

[2016-05-14 16:27] #32 closed, assigned to nobody

[2016-05-14 16:34] iRobsc opened #47 "Add monster range and fix misc"
The characters should have two different kinds of range:
- Attack range
- Pull range (The range where the monster wants to attacks the player and moves towards him/her)

We should also make the origin of the player at the feet. This will make moving to the character more natural and it will make it easier when we create the collision later. At the moment the origin of the sprite is at the top left

[2016-05-14 16:34] iRobsc commented on #47
I thought that I would start with this right away since it builds on the movement code.

[2016-05-14 16:37] iRobsc commented on #22
I'm closing this now.

[2016-05-14 16:37] #22 closed, assigned to nobody

[2016-05-14 16:38] iRobsc opened #48 "Add object handler"
We should add something that implements and handles all the objects in the room. Maybe as a controller? What do you guys think? @xobust @willwull

[2016-05-14 17:01] xobust commented on #48
Well do they realy need to do anything in the mvp state. I only think that we need some kind of collision box memeber and a collision controller

[2016-05-14 17:01] xobust commented on #46
I will consider this

[2016-05-14 17:07] willwull commented on #48
What will the purpose of an object handler be? What are the advantages?

[2016-05-14 17:25] iRobsc commented on #48
Mainly being able to loop through every object and checking the collision

[2016-05-14 17:27] iRobsc commented on #48
And maybe all the objects generated throughout the room could be coded in the controller aswell

[2016-05-14 17:27] iRobsc commented on #48
It will be easier when we want to add complexity to the rng generated room with objects in different groups etc. Instead of doing it all in the room class.

[2016-05-14 21:50] xobust opened #50 "Add the ability to travel between rooms"
We are stuck in the first room atm

[2016-05-15 10:39] xobust commented on #48
I will try to work on this now

[2016-05-15 13:55] willwull commented on #50
Does the World Handler class handle in which room the player is in? In that case, should we implement "exits" by placing a collider that interacts with the World Handler?

[2016-05-15 14:00] willwull commented on #34
Apparently we already scrapped this idea, so I'm closing this issue.

[2016-05-15 14:00] #34 closed, assigned to xobust

[2016-05-15 17:15] iRobsc commented on #50
Me and alex talked about making collision boxes that can have different states. They can be dmg collision boxes, movement, normal collision etc so maybe we should implement that firstly?

[2016-05-15 18:31] iRobsc commented on #47
Done :v:

[2016-05-15 18:31] #47 closed, assigned to iRobsc

[2016-05-15 18:31] willwull commented on #50
Sounds good to me @iRobsc

[2016-05-15 18:33] willwull opened #53 "Add game UI"
We need a UI class that draws the player health in the upper left corner and the elapsed game time in the upper right corner.
Is there anything else we need for the UI?
- [x] Player Health
- [x] Timer

[2016-05-15 19:27] iRobsc commented on #28
I'm starting with this now!

[2016-05-15 19:28] iRobsc opened #54 "Monster deaths and player damaging"
This means that the #28 has to be finished.

[2016-05-15 19:36] iRobsc commented on #28
I will need a collision box before I can add the attack so I'm postponing this issue until that is done.

[2016-05-15 19:37] iRobsc opened #55 "Add collision squares system"
Basically like a collision box in a 3d game but a square that is isometric or whatever shape it needs to be. This can be used as teleportion hitboxes, monsters, players, world collision, wate collision etc. We will need to think through how we want to make it tho @xobust @willwull

[2016-05-15 19:40] iRobsc commented on #53
Nothing else for the MVP except maybe a start screen?

[2016-05-15 19:40] iRobsc commented on #53
And oh when u die u should be able to publish ur score to the website!

[2016-05-15 19:41] willwull commented on #53
Yes, but I think those should be separate issues, like "Add start screen" and "Add game over screen". I was thinking gameplay UI specifically.

[2016-05-15 19:45] iRobsc commented on #33
You don't seem to have an opinion so I will just start creating the monster attack now since it doesn't require a collision hitbox like #28

[2016-05-15 20:02] macaullyjames opened #56 "Mind if I make an example out of this repo?"
Hey, I'm giving a talk at the projinda lecture tomorrow and I was going to use a few screenshots of this repo as an example of good Github usage. Is that OK with you? :) 👼

[2016-05-15 20:55] willwull commented on #56
Yeeeeesssss!

[2016-05-15 21:03] iRobsc commented on #56
Yes!

[2016-05-15 21:07] xobust commented on #56
Go for it

[2016-05-15 21:10] xobust opened #57 "Texture handler"
Add class that handles textures for rooms

[2016-05-15 21:17] macaullyjames commented on #56
Thanks 😊🙏🏻

[2016-05-15 22:06] xobust opened #59 "TileRenderer does not have to be a singleton"
So it should not be one :laughing:

[2016-05-16 09:56] #57 closed, assigned to xobust

[2016-05-16 10:00] willwull opened #62 "Add sprites"
We need some sprites for our game to replace all the temporary sprites.

I think our game should have "vectorized", minimalistic graphics similar to [Monument Valley](http://static4.gamespot.com/uploads/original/1197/11970954/2750863-caledonia.png), since it looks pretty good and is really fast and easy to draw.

I made a character concept, opinions?
![playerconcept](https://cloud.githubuserconten

[2016-05-16 10:01] iRobsc commented on #62
Too cute! I love it :+1:

[2016-05-16 10:06] willwull commented on #62
Also, we should set the resolution of the game to 1920x1080.

[2016-05-16 10:15] #33 closed, assigned to iRobsc

[2016-05-16 10:22] xobust commented on #46
This was fixed with the introduction of the TextureHandler

[2016-05-16 10:22] #46 closed, assigned to xobust

[2016-05-16 11:21] iRobsc commented on #55
I was thinking that this collision box shouldn't  include the collision tiles? The collision tiles should be a different kind of collision since they are calculated directly. We don't need to add these collision squares on top of our tile squares. We do need this tho so we know where the collision is when you attack: #28

[2016-05-16 12:05] xobust commented on #55
Can you present a good scheme to sync this collision system with the tiles player and other objects?

[2016-05-16 12:46] iRobsc commented on #55
We don't have to present these collision boxes inside the tiles. This is just for external collision like the players hitbox which moves and does not use tile collision as it's own hitbox.

[2016-05-16 12:46] willwull opened #63 "Fix draw depth"
Currently, all sprites are drawn on top of each other depending on the order in which the sprites are drawn. However in the final game, objects that are lower on the screen should be "above", or in front of, objects that are higher on the screen.

![depth](https://cloud.githubusercontent.com/assets/16100194/15289793/cc456fc0-1b74-11e6-85f2-93db796e08ff.jpg)

[2016-05-16 12:49] xobust commented on #55
Okay so where will we use the collision grid?

[2016-05-16 12:50] xobust commented on #63
Is there a way to set depth order of a draw call? Or do we have to arrange the draw calls ourselves?

[2016-05-16 12:57] iRobsc commented on #63
This is something we handle in the draw function for each game object. We use the spritebatch.draw function to draw different layer dephts: https://msdn.microsoft.com/en-us/library/ff433989.aspx

With the ratio it says: a float from 1-0 where 1 is the bottom layer and 0 is the front layer. All we have to do is to divide the y position with the screen height to get a value from 0-1.

[2016-05-16 12:57] iRobsc commented on #63
Is that ok with everyone? @xobust @willwull

[2016-05-16 12:59] willwull commented on #63
Yes that sounds good to me :ok_hand:

[2016-05-16 12:59] xobust commented on #63
Ez katka

[2016-05-16 13:01] iRobsc commented on #55
Pathfinding, game objects and other terrain stuff.

[2016-05-16 13:08] xobust commented on #55
okey

[2016-05-16 13:16] #59 closed, assigned to xobust

[2016-05-16 13:19] xobust commented on #48
Done

[2016-05-16 13:19] #48 closed, assigned to xobust

[2016-05-17 18:29] xobust commented on #56
Nice presentation @macaullyjames

[2016-05-17 18:29] #56 closed, assigned to nobody

[2016-05-17 22:22] xobust commented on #63
Can we close this now or is there more to fix?

[2016-05-18 00:05] iRobsc commented on #63
Yeah ofc we can close it :+1:

[2016-05-18 00:05] #63 closed, assigned to iRobsc

[2016-05-19 09:47] xobust opened #66 "Add player direction"
We need to keep track of witch way the character is facing so we know where to attack and how to draw the character.
- [x] Player direction backend
- [x] Player sprites for different directions

[2016-05-19 09:49] willwull commented on #66
4-directional or 8-directional? Personally, I think 4-directional should be enough.

[2016-05-19 09:50] willwull commented on #62
What other sprites do we need? @iRobsc @xobust

[2016-05-19 09:56] iRobsc commented on #62
We need trees, stones and exits for another room like in your concept picture.

[2016-05-19 09:56] iRobsc commented on #62
And I'm thinking that the exit like in ur picture is if u enter a cave.

[2016-05-19 09:57] iRobsc commented on #66
4-directional is way better. Both code wise and animation wise.

[2016-05-19 09:58] willwull commented on #66
We're doing up, down, left, right, right? Not diagonal 4 directional. I hope that made sense.

EDIT:
![image](https://cloud.githubusercontent.com/assets/16100194/15389938/8b5c00ae-1db9-11e6-925f-c0bc60265009.png)

We're doing left, not right, correct?

[2016-05-19 10:02] xobust commented on #66
Yes

[2016-05-19 10:15] iRobsc commented on #66
Yes, that is correct.

[2016-05-19 10:20] iRobsc opened #67 "Add collision grid"
- The collision grid should be /4 of the size of the visible tiles
- Contain tiles that are used for A\* pathfinding
- Be able to handle collision that handles travelling into other rooms

I'm also thinking that the objects that gets placed out are handled by this grid. Like a tree takes up 4 tiles and a stone one tile for an example.

[2016-05-19 10:27] willwull commented on #67
Isn't this the same as #55?

[2016-05-19 10:29] iRobsc commented on #67
Nope, I'm thinking about closing #55 since we figured out that the player attack, monster collision and entering new rooms can be handled with other things.

[2016-05-19 10:29] iRobsc commented on #67
#55 is basically just a 4 sided box that isn't attached to a grid. Which isn't needed for now.

[2016-05-19 10:48] xobust commented on #66
@willwull could you create some player sprites for the different directions?

[2016-05-19 10:49] willwull commented on #66
Yeah, I'll make a branch and implement this feature.

[2016-05-19 10:50] xobust commented on #66
You can just work on the player-direction branch, I'm not working on it at the moment

[2016-05-19 10:51] willwull commented on #66
Okay cool :+1:

[2016-05-19 11:01] iRobsc opened #68 "Fix the variables so they start with capitalized letters"
This is something we have stated in our contributing.md

[2016-05-19 11:27] xobust opened #71 "Make Movement based on time"
Player and monster movement should be based on time and not CPU cycles.
This means that when changing the player position we need to take into account how much time has passed using GameTime variable.

[2016-05-19 11:37] xobust commented on #53
I'm thinking that the UI will be controlled from a class that similar to a controller has a reference back to game so that it can access the players health.

[2016-05-19 11:46] xobust commented on #28
I will work on the attack now as @iRobsc has pivoted to working on collisions. I will implement a simple brute force check if enmities are in front of player using a controller

[2016-05-19 15:15] iRobsc commented on #67
This is an explanation of the grid indexation. Very useful when we want to do the pathfinding algorithm.
![grid_index_explanation](https://cloud.githubusercontent.com/assets/5315633/15398745/36809ba4-1de5-11e6-9253-8f1844cd939e.png)

[2016-05-19 16:38] #28 closed, assigned to iRobsc

[2016-05-19 16:39] xobust commented on #54
#28 I completed and so is this

[2016-05-19 16:39] #54 closed, assigned to nobody

[2016-05-19 16:42] willwull commented on #66
Implemented with #70

[2016-05-19 16:42] #66 closed, assigned to xobust

[2016-05-20 11:30] Danielava commented on #71
Focus on making movement smooth first

[2016-05-20 11:40] tonikarppi opened #73 "Review: Project description and documentation"
There is no information about what the project is about in the README. Maybe you could put a short description about what the game is about? Making a website for the project is a good addition. On our project, we put a sketch in our README to give an idea about how to game will look.

[2016-05-20 11:44] tonikarppi opened #74 "Review: Commit Log messages"
The commit tense is constant, which is good. You use imperative style, the same as we did :+1:. Also nice with many commits, which makes it easy to go back to see what was changed and when.

[2016-05-20 11:48] tonikarppi opened #75 "Review: Milestones and Features in Issue Tracker"
Many milestones, it's a nice way to see the progress made by the different components of the game. Adding such broad issues to the MVP milestone makes it hard to see how close you're to finishing it, though.

[2016-05-20 11:50] tonikarppi commented on #75
Also nice with use of features in issue-tracker.

[2016-05-20 11:56] tonikarppi opened #76 "Review: Bugs to resolve issues"
You use bugs in issues like #46 which is probably not a bug. #34 is more of a formatting problem than something that breaks the game. But it's pretty rare to have to use bug-flags on such small projects since you don't usually to push broken code.

[2016-05-20 12:00] tonikarppi opened #77 "Review: Branching and Pull Requests"
Many small pull requests are good since it makes it easy to revert if something goes wrong. Use of multiple branches is also good since you can test stuff without it breaking the main codebase. :+1:

[2016-05-20 12:02] xobust commented on #76
Yes we sometimes commit broken code on the feature branches however these are made stable before merging into master.

[2016-05-20 12:14] TheForgot3n1 commented on #55
Collision is a very important topic in modern gaming.

[2016-05-20 12:18] iRobsc commented on #75
The MVP milestone should be implemented in almost every issue. We would have added them if there was a way to assign an issue to two or more different milestones but we haven't found a way to do that.

[2016-05-20 17:34] willwull commented on #53
I'll get started on this.

[2016-05-20 19:11] willwull commented on #53
Oh btw guys, should the game timer be its own class or should we just have it as a variable in `GameManager`? @iRobsc @xobust

[2016-05-20 21:56] willwull commented on #53
Implemented with #78

[2016-05-20 21:56] #53 closed, assigned to willwull

[2016-05-20 22:28] willwull commented on #71
I'll take a stab at this.

[2016-05-20 23:08] willwull commented on #71
Implemented in #79

[2016-05-20 23:08] #71 closed, assigned to willwull

[2016-05-23 11:05] iRobsc commented on #67
This one is the actual "when the rows are even". The past picture should be odd rows.

![grid_index_explanation_even](https://cloud.githubusercontent.com/assets/5315633/15468869/0165095a-20e7-11e6-9f87-cea809f42d4f.png)

[2016-05-23 12:55] willwull commented on #77
Thank you for the feedback @pqbyte !

[2016-05-23 12:55] #77 closed, assigned to nobody

[2016-05-23 12:56] willwull commented on #74
Thanks for the feedback!

[2016-05-23 12:56] #74 closed, assigned to nobody

[2016-05-23 12:56] #75 closed, assigned to nobody

[2016-05-23 19:27] willwull opened #81 "Add start screen and game over screen"
I'm not sure what the start screen should contain (controls and instructions?), but we need a game over screen which lets the player submit their score if they beat the boss or simply restart the game if they died.

[2016-05-23 19:29] willwull commented on #81
Oops

[2016-05-23 21:25] macaullyjames opened #82 "Website down"
Heads up, the website (http://broban.bladh.nu) is down 😱
![screen shot 2016-05-23 at 23 22 12](https://cloud.githubusercontent.com/assets/3997058/15485063/76c9da08-213d-11e6-9e1f-1694a7b9a48b.png)

[2016-05-24 07:52] xobust commented on #82
Wot, apparently my host (Citynetworks) had some downtime

[2016-05-24 07:53] xobust commented on #82
Anyways I need to pay their yearly bill before the 31, but I'm not sure if I should stay with them

[2016-05-24 07:58] macaullyjames commented on #82
DigitalOcean has droplets for $5/month if not. I normally just use GitHub pages for static sites though :)

[2016-05-24 08:15] macaullyjames commented on #82
It's a fun exercise to think how you'd handle this in a real-life situation 🤔

[2016-05-24 14:00] willwull commented on #67
Implemented in #83, good job bro :+1:

[2016-05-24 14:00] #67 closed, assigned to iRobsc

[2016-05-24 14:02] willwull commented on #73
Made a PR (#80)  with updated documentation, thanks for the feedback :)

[2016-05-24 14:02] #73 closed, assigned to nobody

[2016-05-24 14:02] #76 closed, assigned to nobody

[2016-05-24 14:03] willwull commented on #82
Alex fixed it :+1:

[2016-05-24 14:03] #82 closed, assigned to nobody

[2016-05-24 14:05] willwull commented on #55
Implemented #83, so this is no longer needed.

[2016-05-24 14:05] #55 closed, assigned to nobody

[2016-05-24 14:05] #42 closed, assigned to nobody

[2016-05-24 18:04] iRobsc commented on #29
This issue was completed with #83

[2016-05-24 18:04] #29 closed, assigned to nobody

[2016-05-24 18:11] iRobsc opened #86 "Create an implemenation of Entities"
Entities like stones, trees and other static objects.

[2016-05-24 23:06] #50 closed, assigned to xobust

[2016-05-24 23:29] willwull commented on #62
Finished as of #88

[2016-05-24 23:29] #62 closed, assigned to nobody

[2016-05-25 01:38] #81 closed, assigned to nobody

[2016-05-25 07:02] #86 closed, assigned to iRobsc

[2016-05-25 07:34] xobust commented on #1
Seems done

[2016-05-25 07:34] #1 closed, assigned to nobody

[2016-05-25 11:44] #4 closed, assigned to nobody

[2016-06-01 11:41] willwull opened #93 "Web page for submitting score?"
So apparently, text input in MonoGame is pretty garbage (pressing the left shift button actually writes `LeftShift`), how about when the user completes the game, instead of submitting the score via the game itself, they get sent to a web page to do it instead?

This way, we don't need "hacks" to handle user input in our game. Thoughts?